html{
    height: 100%;
    width: 100%;
}

body{
    background-color: chocolate;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul{
    list-style: none;
}

.clr{
    clear:both
}

.header{
    background-color: black;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vmin;
    text-align: center;
    padding: 10px;
    height: 10%;
}

.game{
    height:75%;
}

.clicker{
    background-color: rgb(210, 105, 30);
    float: left;
    width: 70%;
    box-sizing:border-box;
    position: relative;
    box-sizing:border-box;
}

.cookie{
    border-radius: 300px;
    background-color: chocolate;
    border-style: none;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
}

.money{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vmin;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(221, 214, 214);
    text-align: center;
    padding: 0;
    margin: 0;

}

.shop{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    float: right;
    width: 30%;
    border-left: 2px black solid;
    box-sizing:border-box;
    margin-bottom: 0;
}

.shop_head, .shop_item{
    display: block;
    align-items: center;
    position: relative;
    margin: auto;
}

.shop_head{
    font-size: 48px;
    font-weight:700;
    border-bottom: 2px black solid;
    padding-top: 10%;
    padding-bottom: 10%;
}

.shop_items{
    padding-top: 10%;
}

.shop_item{
    padding: 5px;
    margin-bottom: 10px;
}







.footer{
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    height: 10%;
}